
#head-logo {
  margin-left: 40px;
}

div {
  display: inline-block;
  vertical-align: middle;
}

#head-links {
  margin-right: 550px;
  margin-left: 480px;
}


#a1, #a2, #a3, #a4, #a5 {
  color: grey;
  text-decoration: none;
  font-size: 25px;
  margin:  12px;
}

#a6 {
  background-color: rgb(78, 78, 226);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  height: 300px;
}



/* ---------------------------------------------------------------------------- */



#hero-banner {
  width: 100vw;
  height: 700px;
  background-image: url("assets/banner.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 50px;
}

#hero-overlay {
  width: 100vw;
  height: 100px;
  background-color:  rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-top: 40px;
}

#hero-heading {
  color: white;
  font-size: 80px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

#hero-text {
  color: white;
  font-size: 21px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
 
}

#hero-button {
  display: inline-block;
  background: rgb(79, 70, 229);
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  padding: 16px 32px;
  border-radius: 8px;
  margin-top:353px;
  height:40px;
  width: 150px;

}


/* -------------------------------------------------------------------------------------- */


p{
 font-size:75px;
 text-align : center;
 font-weight: bold;
}


/* --------------------------------------------------------------------------------- */



#speakers-section {
  display: block;
  width: 1000px;
  margin: 0 auto;
  padding: 40px;
  background: white; 
  text-align: center;
}

.speaker-card {
  /* display: inline-block; */
  box-sizing: border-box;
  width: 390px;
  margin: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 16px;
  text-align: left;
}

#img {
  width: 100%;
  height: auto;
  display: block;
}

.speaker-tag {
  display : block;
  text-align:left;
  color: #4f46e5;
  font-size: 12px;
  font-weight: bold;
  margin: 15px 15px 5px 15px;
}

.speaker-name {
  display : block;
  margin: 5px 15px;
  font-size: 18px;
  text-align:left;
}

.speaker-role {
  display : block;
  text-align:left;
  color: #6b7280;
  font-size: 14px;
  margin: 0 15px 15px 15px;
}


/* ----------------------------------------------------------------------------------------------------- */



#secure-spot{

  font-weight: bold;
  text-align: center;
  font-size: 60px;
  margin: 60px 0 0 0
}

#early-bird{
  font-weight: light;
  text-align: center;
  font-size: 20px;
  color:#6b7280;
  margin: 10px 0 20px 0;
}


/* ---------------------------------------------------------------------------------- */



#pricing-section {
  display: flex;
  justify-content: space-between; 
  gap: 30px; 
  width: 100%;                  
  max-width: 1280px;             
  margin: 40px auto;
}

.pricing-card {
  /* box-sizing: border-box;  */
  width: 400px;                    
  padding: 40px 30px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  background: rgb(230, 226, 226);
  font-size: 21px;
  text-align: left;
}

.pricing-card.pro {
  background: rgb(15, 23, 42);
  border: none;
}

.plan-name {
  text-align: left;
  color: #6b7280;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.pro .plan-name {
  
  color: #a5b4fc;
}

.plan-price {
  font-size: 40px;
  margin: 0;
}

.pro .plan-price {
  color: rgb(170, 164, 164);
}

.person-number{
  text-align: left;
  color: #9ca3af;
  font-size: 14px;
  margin: 5px 0 20px 0;
}

.pro .plan-period {
  color: #cbd5e1;
}

.pricing-card hr {
  border: none;
  border-top: 1px solid rgb(192, 182, 182);
  margin-bottom: 20px;
}

.pro hr {
  border-top: 1px solid #334155;
}

.plan-features {
  padding: 0;
  margin: 0 0 25px 0;
}

.plan-features li {
  color: #374151;
  font-size: 21px;
  margin-bottom: 12px;
}

.pro .plan-features li {
  color: #cbd5e1;
}

.plan-btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  border: 1px solid #4f46e5;
  color: #4f46e5;
}

.pro .plan-btn {
  background: rgb(79, 70, 229);
  color: white;
  border: none;
}


/* ------------------------------------------------------------------------------------------------------ */




