#head-logo {
  margin-left: 40px;
}

div {
  display: inline-block;
  vertical-align: middle;
}

#head-links {
  margin-right: 500px;
  margin-left: 500px;
}


#a1, #a2, #a3, #a4, #a5 {
  color: grey;
  text-decoration: none;
  font-size: 25px;
  margin:  12px;
}

#a6 {
  background-color: rgb(78, 78, 226);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  height: 300px;
}



/* ---------------------------------------------------------------------------- */



#hero-banner {
  width: 100vw;
  height: 700px;
  background-image: url("assets/banner.jpg");
  background-size: cover;
  background-position: center;
}

#hero-overlay {
  width: 100vw;
  height: 100px;
  background-color:  rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-top: 40px;
}

#hero-heading {
  color: white;
  font-size: 80px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

#hero-text {
  color: white;
  font-size: 21px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

#hero-button {
  display: inline-block;
  background: rgb(79, 70, 229);
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 16px 32px;
  border-radius: 8px;
  margin-top:350px
}